
@{
    ViewBag.Title = "Relatorio de Fucionario";
}

<div align = "Center" >
     <br/>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <img src="~/Areas/Administracao/assets/avatars/Work.png" />
    <h3>Em breve novo relatorio</h3>
</div>
