@model projeto_FILA.Models.Servico

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Servico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeServico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeServico)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("editar", "Edit", new { id = Model.ServicoID }) |
    @Html.ActionLink("voltar", "Index")
</p>
