@{
    ViewBag.Title = "Quem Somos";
}
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                Á
                <strong>Império Barbearia</strong>
            </h2>
            <hr>
        </div>
        <div class="col-md-6">
            <img class="img-responsive img-border-left" src="~/img/slide-2.jpg" alt="">
        </div>
        <div class="col-md-6">
            <p>Um novo conceito em Barba, Cabelo e Bigode Império Barbearia os melhores serviços com os melhores especialistas.</p>
            <p>Em quanto espera você temos, Ambiente climatizado, wi-fi, Fliperama e muito mais para o seu maior conforto.</p>

        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                Nossos
                <strong>Serviços</strong>
            </h2>
            <hr>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            <h3>
                Corte Degrade
                <small>R$ 35,00</small>
            </h3>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            <h3>
                Sobrancelha
                <small>R$ 15,00</small>
            </h3>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            <h3>
                Selagem e Relaxamento
                <small>R$ 50,00</small>
            </h3>
        </div>
        <div class="clearfix"></div>
    </div>
</div>