@{
    ViewBag.Title = "Contato";
}
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                Contato
                <strong>Império Barbearia</strong>
            </h2>
            <hr>
        </div>
        <div class="col-md-8">
            <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
            <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://wego.here.com/directions/mix//Barbearia-Imp%C3%A9rio,-Rua-Pernambuco,-6.-CPA-II.,-78055-428-Cuiab%C3%A1,-Brazil:e-eyJuYW1lIjoiQmFyYmVhcmlhIEltcFx1MDBlOXJpbyIsImFkZHJlc3MiOiJSdWEgUGVybmFtYnVjbywgNi4gQ1BBIElJLiwgNzgwNTUtNDI4IEN1aWFiXHUwMGUxIiwibGF0aXR1ZGUiOi0xNS41NjE5NDIyNzc3OTcsImxvbmdpdHVkZSI6LTU2LjA0NTkxNjA4MDQ3NSwicHJvdmlkZXJOYW1lIjoiZmFjZWJvb2siLCJwcm92aWRlcklkIjo4NjM0NjIwODcwMjQzMTV9?map=-15.56194,-56.04592,15,normal&fb_locale=pt_BR"></iframe>
        </div>
        <div class="col-md-4">
            <p>
                Phone:
                <strong>(65)99244-4589</strong>
            </p>
            <p>
                Email:
                <strong><a href="mailto:pedro.aquarius92@gmail.com">pedro.aquarius92@gmail.com</a></strong>
            </p>
            <p>
                Address:
                <strong>
                    Rua 51, Quadra 38, Nº 17
                    <br>Cuiabá, CPA III
                </strong>
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>