@model projeto_FILA.Models.Funcionario

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeFuncionario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeFuncionario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("editar", "Edit", new { id = Model.FuncionarioID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
